<ion-content>

  <app-image-slider></app-image-slider>

  <!-- <app-header-toolbar></app-header-toolbar> -->
  <!-- <ion-img src="assets/images/1.jpg"></ion-img> -->


  <!-- <p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p><p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p><p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p><p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p><p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p><p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p><p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p>
  <p>red</p>
 -->
</ion-content>
