.toolbar {
    height: 3em;
    width: 100%;
    background: #444242;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    text-align: end;
    padding-left: 40px;
    position: relative;
    box-shadow: 0 8px 10px #888888a1;
}

h1 {
  margin: 0;

  @media only screen and (max-width: 472px) {
    display: none;
  }
}
