<div>
  <ion-item class="contact">
    <ion-icon name="call-outline"></ion-icon>
    <ion-label>{{phoneNumber}}</ion-label>
  </ion-item>
  <ion-item class="contact">
    <ion-icon name="mail-outline"></ion-icon>
    <ion-label><a href="mailto:{{emailAddress}}">{{emailAddress}}</a></ion-label>
  </ion-item>
  <ion-item class="contact">
    <ion-icon name="logo-github"></ion-icon>
    <ion-label><a href="https://github.com/tmarkovica">https://github.com/tmarkovica</a></ion-label>
  </ion-item>
  <ion-item class="contact">
    <ion-icon name="logo-linkedin"></ion-icon>
    <ion-label><a href="https://www.linkedin.com/in/tomislav-markovica-3118bb203/">https://www.linkedin.com/in/tomislav-markovica-3118bb203/</a></ion-label>
  </ion-item>
</div>
