table {
  tr td {
    padding: 20px;
    text-align: center;

    @media only screen and (max-width: 300px) {
      padding: 10px;
    }
  }

  @media only screen and (max-width: 650px) {
    width: 100%;
  }
}
