<app-header-toolbar></app-header-toolbar>

<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh()" [disabled]="!isMobile">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h2>CONTACT</h2>

  <div class="section">
    <app-contact-info></app-contact-info>
  </div>

  <hr class="section-divider-line">

  <h2>SKILLS</h2>

  <div class="section">
    <app-skills></app-skills>
  </div>

  <hr class="section-divider-line">

  <h2>EXPERIENCE</h2>

  <div class="section">
    <app-experience></app-experience>
  </div>

  <hr class="section-divider-line">

  <h2>EDUCATION</h2>

  <div class="section">
    <app-education></app-education>
  </div>

  <hr class="section-divider-line">

  <h2>LANGUAGE SKILLS</h2>

  <div class="section">
    <app-language-skills></app-language-skills>
  </div>
  <hr class="section-divider-line">

  <h2>PROJECTS</h2>

  <div class="section">
    <app-projects></app-projects>
  </div>

  <hr class="section-divider-line">

</ion-content>
