.section {
  margin: 20px 40px;

  @media only screen and (max-width: 650px) {
    margin: 0;
  }
}

.line-section-end {
  background: white;
  width: 100%;
  position: absolute;
  left: 0;
}

.section-background {
  background-color: #161616;
}

.contact {
  --background: transparent;

  & ion-icon {
    margin-right: 20px;
    height: 30px;
    width: 30px;
  }
}

.indent-row {
  margin-left: 20px;
}

.study-programme {
  margin-bottom: 25px;

  &__details {
    margin-left: 25px;
    padding-left: 10px;
    margin-top: 5px;
    border-left: 1px solid white;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.projects {
  display: inline-grid;
}

.folder-image {
  width: 70px;
  height: 70px;

  &:hover {
    cursor: pointer;
    background-color: lightblue;
  }
}

.projects__row {
  display: inline-grid;
  grid-template-columns: min-content 20% min-content auto;
  align-items: center;
  justify-content: start;
  justify-items: start;
  gap: 40px;
  padding: 20px;

  @media only screen and (max-width: 650px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;

    & > * { // target all children elements
      width: 100%;
    }
  }

  &:hover {
    background-color: #1d1d1d;
  }
}


.language-skills {
  text-align: center;

  @media only screen and (max-width: 415px) {
    transform: rotate(90deg);
    margin-top: 30px;
    margin-bottom: 180px;

    & ion-col {
      transform: rotate(-90deg);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    ion-row {
      height: 70px;
      width: 480px;
    }

    &__header {
      border: none !important;
    }
  }

  &__header {
    color: #6c7427;
    border-bottom: 1px solid lightslategray;
  }
}
