<div class="study-programme">
  <h3>University graduate study programme in Software Engineering</h3>
  <ion-row>Sveučilišni diplomski studij Računarstva, izborni blok Programsko inženjerstvo</ion-row>
  <div class="study-programme__details">
    <ion-row>10/2021 – 10/2023</ion-row>
    <ion-row><b>univ. mag. ing. comp.</b></ion-row>
    <ion-row>Fakultet elektrotehnike, računarstva i informacijskih tehnologija Osijek</ion-row>
    <ion-row><a href="https://www.ferit.unios.hr/2021/">https://www.ferit.unios.hr/2021/</a></ion-row>
  </div>
</div>

<div class="study-programme">
  <h3>University undergraduate study programme in Computer Science</h3>
  <ion-row>Sveučilišni preddiplomski studij Računarstvo</ion-row>
  <div class="study-programme__details">
    <ion-row>10/2017 – 09/2021</ion-row>
    <ion-row><b>univ. bacc. ing. comp.</b></ion-row>
    <ion-row>Fakultet elektrotehnike, računarstva i informacijskih tehnologija Osijek</ion-row>
    <ion-row><a href="https://www.ferit.unios.hr/2021/">https://www.ferit.unios.hr/2021/</a></ion-row>
  </div>
</div>

<div class="study-programme">
  <h3>Computer Technician</h3>
  <ion-row>Tehničar za računalstvo</ion-row>
  <div class="study-programme__details">
    <ion-row>2013 – 2017</ion-row>
    <ion-row>Srednja strukovna škola Đurđevac</ion-row>
    <ion-row><a href="http://ss-strukovna-djurdjevac.skole.hr/">http://ss-strukovna-djurdjevac.skole.hr/</a></ion-row>
  </div>
</div>
