<ul>
  <li><b>Fullstack Development:</b> Skilled in fullstack development, responsive app development with Angular/Ionic for front-end and ASP .NET Core with Postgres database for back-end. Experience in creating web animations, have used Google Material and NgZorro UI Libraries.</li>
  <li><b>Application Deployment:</b> Experience in deploying applications to various platforms: Firebase, Azure, Heroku, and Ubuntu VPS, while practicing CI/CD integration through GitHub.</li>
  <li><b>Game Development:</b> Developed bachelor's and master's thesis projects in Unity.</li>
  <li><b>Android App Development:</b> using MVVM architecture, Koin for dependencies, Room database, LiveData, ViewModels, RecyclerView, Camera integration, Notifications, and SharedPreferences.</li>
  <li><b>Software Development Process:</b> Solid grasp of entire software development lifecycle, gathering requirements, UML diagrams, testing, and documentation.</li>
  <li><b>Code Parallelization:</b> Familiar with code parallelization techniques, including MPI and OpenMP.</li>
</ul>
