/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


* {
  /* font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Mono', monospace; */
  font-family: 'Roboto Mono';
  font-size: 0.9rem;
}

ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 40px;
  --padding-end: 40px;

  @media only screen and (max-width: 650px) {
    --padding-start: 20px;
    --padding-end: 20px;
  }

  @media only screen and (max-width: 450px) {
    --padding-start: 10px;
    --padding-end: 10px;
  }
}

h2 {
  opacity: 0.4;
  font-size: 1.9em !important;
  /* Disable text selection for modern browsers */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h3 {
  color: rgb(34, 105, 187);
  font-size: 1.25em !important;
}

.bullet {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
}
