/* ion-header {
  left: 0px;
  right: 0px;
  top: 0px;
} */

.headerToolbar {
  display: inline-flex;
}

.headerToolbarTextAlign {
  text-align: end;
}

#myName {
  font-size: 3em;
  margin-left: 6%;
}

#firstNameColor {
  color: rgb(252, 125, 41);
}

#lastNameColor {
  color: green;
}

.sidebar {
  background-color: #ff00006e;
  height: 100%;
  width: 5%;
  float: left;
  position: fixed;
  display: flex;
  align-items: center;
}

.iconGrid {
  padding: 0px;
}

ion-header {
  padding-left: 5%;
}

.contentLeftMargin {
  margin-left: 6%;
  margin-right: 1.2%;
}

.topMargin10px {
  margin-top: 10px;
}

.horizontalLine {
  background: white;
  size: 4px;
  margin-right: 1%;
}

.iconLink:hover {
  background-color: green;
}




.iconInfo {  
  display: none;
  position: absolute;
  visibility: hidden;
  margin-left: 100%;
  background-color: green;
  height: 8%;
  text-align: center;
  padding: 25px;
  //border: 2px solid black;
}

.dropdown-content:hover span {
  visibility: visible;
  display: block;
}

.contactInfoIcons {
  height: 30px;
  width: 40px;
  padding-right: 10px;
  
}

ion-label {
  text-align: center;
}

.tableTextAlignCenter {
  text-align: center;
}

.tebleCells {
  border-color: white; 
  border-width: .01em; 
  //border-style:solid; margin-bottom : -1px;
}

.tableHeaderTextColor {
  color: #6c7427;
}