

<ion-content>
  <app-header-toolbar></app-header-toolbar>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh()" [disabled]="!isMobile">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="sidebar">
  </div>

  <div class="info-segment">
    <h1 id="myName" class="waviy nameBackgroundAnimation">
      <b id="firstNameColor">Tomislav </b>
      <b id="lastNameColor">Markovica</b>
    </h1>

    <ion-card class="contact-info">
      <ion-item>
        <ion-img src="assets/icon/phone.png" title="My phone number" class="contactInfoIcons"></ion-img>
        <ion-label class="contact-label" (mouseenter) ="mouseEnter(0)" (mouseleave) ="mouseLeave(0)" ngxClipboard [cbContent]="'+385955279214'"
        title="Copy">(+385) 95 527 9214</ion-label>
        <ion-icon name="copy"  [hidden]="copyIconHidden[0]"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-img src="assets/icon/gmail.png" title="My email" class="contactInfoIcons"></ion-img>
        <ion-label class="contact-label" (mouseenter) ="mouseEnter(1)" (mouseleave) ="mouseLeave(1)" ngxClipboard [cbContent]="'tomislav.markovica1@gmail.com'"
          title="Copy">tomislav.markovica1@gmail.com</ion-label>
        <ion-icon name="copy" [hidden]="copyIconHidden[1]"></ion-icon>
      </ion-item>
    </ion-card>
  </div>

  <div class="contentLeftMargin clearFloat">
    <h2 class="typewriterHeadings"></h2>
    <hr class="horizontalLine">
      <div> <!--  data-aos="fade-left" data-aos-duration="3000" -->

      <div>
        <h3>Computer Technician</h3>
        <div class="contentLeftMargin">
          <p>2013 - 2017</p>
          <p>Srednja strukovna škola Đurđevac</p>
          <p><a href="http://ss-strukovna-djurdjevac.skole.hr/">http://ss-strukovna-djurdjevac.skole.hr/</a></p>
        </div>
        </div>
      <div>
        <h3>Computer Engineering</h3>
        <div class="contentLeftMargin">
          <p>10/2017 – 09/2021</p>
          <p><b>univ. bacc. ing. comp.</b></p>
          <p>Sveučilišni preddiplomski studij računarstva / University undergraduate study programme in Computer Engineering</p>
          <p>Fakultet elektrotehnike, računarstva i informacijskih tehnologija Osijek</p>
          <p><a href="https://www.ferit.unios.hr/">https://www.ferit.unios.hr/</a></p>
        </div>
      </div>
      <div>
        <h3>Software Engineering</h3>
        <div class="contentLeftMargin">
          <p>10/2021 –</p>
          <p>Sveučilišni diplomski studij programsko inženjerstvo / University graduate study programme in Software Engineering</p>
          <p>Fakultet elektrotehnike, računarstva i informacijskih tehnologija Osijek</p>
          <p><a href="https://www.ferit.unios.hr/2021/">https://www.ferit.unios.hr/2021/</a></p>
        </div>
      </div>

      </div>
  </div>

  <ion-grid class="contentLeftMargin">
    <h2 class="typewriterHeadings"></h2>
    <hr class="horizontalLine">

    <ion-row> <!-- data-aos="fade-left" data-aos-duration="3000" -->
      <ion-col>
        <ion-row>C/C++</ion-row>
        <ion-row>C#</ion-row>
        <ion-row>Java</ion-row>
        <ion-row>Kotlin</ion-row>
        <ion-row>SQL</ion-row>
        <ion-row>Git</ion-row>
      </ion-col>
      <ion-col>    
        <ion-row>HTML</ion-row>
        <ion-row>CSS</ion-row>    
        <ion-row>TypeScript</ion-row>
        <ion-row>Angular</ion-row>
        <ion-row>Ionic</ion-row>
      </ion-col>
      <ion-col>        
        <ion-row>Unity</ion-row>
        <ion-row>Android Studio</ion-row>
        <ion-row>Design Patterns</ion-row>
        <ion-row>Alghoritms & Data Structures</ion-row>
        <ion-row>MS Office (Word, Excel, PowerPoint)</ion-row>
      </ion-col>
    </ion-row>
    
  </ion-grid>
 
  <h2 class="typewriterHeadings contentLeftMargin"></h2>
  <hr class="horizontalLine contentLeftMargin">

  <ion-grid class="contentLeftMargin tebleCells"> <!--  data-aos="fade-left" data-aos-duration="3000" -->
    
    <ion-col class="tableTextAlignCenter">
      <ion-row class="tableHeaderTextColor">
        <ion-col></ion-col>
        <ion-col>Listening</ion-col>
        <ion-col>Reading</ion-col>
        <ion-col>Spoken production</ion-col>
        <ion-col>Spoken interaction</ion-col>
        <ion-col>Writing</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><b>Croatian</b></ion-col>
        <ion-col>Native</ion-col>
        <ion-col>Native</ion-col>
        <ion-col>Native</ion-col>
        <ion-col>Native</ion-col>
        <ion-col>Native</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><b>English</b></ion-col>
        <ion-col>C1</ion-col>
        <ion-col>C1</ion-col>
        <ion-col>B2</ion-col>
        <ion-col>B2</ion-col>
        <ion-col>C1</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><b>German</b></ion-col>
        <ion-col>A1</ion-col>
        <ion-col>A1</ion-col>
        <ion-col>A1</ion-col>
        <ion-col>A1</ion-col>
        <ion-col>A2</ion-col>
      </ion-row>
    </ion-col>

  </ion-grid>

  <section>  <!-- data-aos="fade-up" data-aos-duration="3000" -->
    <ion-grid class="contentLeftMargin">
      <h2 class="typewriterHeadings"></h2>
      <hr class="horizontalLine">
      
      <ion-row class="topMargin10px highlightProject column-widths">
        <ion-col>
          <a href="https://tmarkovica.github.io/ORWiMA-HTML-projekt/index.html" target=”_blank”>
            Fictive Company Website
          </a>
        </ion-col>
        <ion-col>
          <a href="https://github.com/tmarkovica/ORWiMA-HTML-projekt" target="_blank">repository</a>
        </ion-col>      
        <ion-col>
          Project for 
          <a href="https://www.ferit.unios.hr/2021/upisi-i-studiji/preddiplomski-sveucilisni-studiji#racunarstvo-stari-studij#PRK504-18" target="_blank">
            Web Dvelopment Basics</a> course, HTML and CSS.
        </ion-col>
      </ion-row>
  
      <ion-row class="topMargin10px highlightProject column-widths">
        <ion-col>
          <a href="https://valuecalc-d7cea.web.app" target=”_blank”>ValueCalc</a>
        </ion-col>
        <ion-col>
          <a href="https://github.com/ferit2M/ValueCalc" target="_blank">repository</a>
        </ion-col>
        <ion-col>
          Collaboration with <a href="https://github.com/marjanovicm13">Mihael Marjanović</a>.
          <br>
          <a href="https://www.ferit.unios.hr/2021/upisi-i-studiji/diplomski-sveucilisni-studij#racunarstvo-izborni-blok-programsko-inzenjerstvo#DRcdKb2-02-18" target="_blank">
            Web Programming</a> course project, Ionic, HTML, SCSS and SQL database and .NET ASPN for backend.
        </ion-col>
      </ion-row>
  
      <ion-row class="topMargin10px highlightProject column-widths">
        <ion-col>
          <a href="https://recognition-of-thyroid-disease.web.app" target=”_blank”>Thyroid disease recognition</a>
        </ion-col>
        <ion-col>
          <a href="https://github.com/tmarkovica/RUAP-projekt" target="_blank">repository</a>
        </ion-col>      
        <ion-col>
          Project for 
          <a href="https://www.ferit.unios.hr/2021/upisi-i-studiji/diplomski-sveucilisni-studij#racunarstvo-izborni-blok-programsko-inzenjerstvo#DRcd1-06-18" target="_blank">
            Service Computing and Big Data course (hrv. Računarstvo usluga i analiza podataka)</a>. 
            Web application developed in Ionic that uses Azure Machine Learning API to predict thyroid disease.
        </ion-col>
      </ion-row>
  
      <ion-row class="topMargin10px highlightProject column-widths">
        <ion-col>
          <a href="https://tmark-spin.web.app/" target=”_blank”>Food app</a>
        </ion-col>
        <ion-col>
          <a href="https://github.com/tmarkovica/FoodApp_Ionic_Spin" target="_blank">repository</a>
        </ion-col>
        <ion-col>
          Developed at summer code academy for Angular/Ionic.
        </ion-col>
      </ion-row>
  
      <ion-row class="topMargin10px highlightProject column-widths">
        <ion-col>
          <a href="https://earth-atmosphere.web.app/" target=”_blank”>Earth's atmosphere</a>
        </ion-col>
        <ion-col>
          <a href="https://github.com/tmarkovica/Earth_atmosphere" target="_blank">repository</a>
        </ion-col>   
        <ion-col>
          <a href="https://www.ferit.unios.hr/2021/upisi-i-studiji/diplomski-sveucilisni-studij#racunarstvo-izborni-blok-programsko-inzenjerstvo#DRcd2-03"
          target="_blank">Data Visualization</a> project using D3.js library.
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </section>

  <app-contact-form class="bottom-toolbar"></app-contact-form>

</ion-content>